$SiteColors: (
        headerBackground: #4295dd,
        menuDefaultBackground:#4295dd,
        menuActiveBackground:#3076b3,
        splitBorderColor:#3071ab,
        tabDefaultBackground:#4395db,
        tabSelectedBackground:#3889cf
);
$SiteHeader: (
        siteHeaderHeight:80px
);
$SiteMenu: (
        width:230px,
        selectedBorderColor: #fff,
        itemLeftSize: 20px
);
