@import "css3";
@import "vars";
@import "header";
@import "main-menu";

*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-main{
  height: 100%;
  overflow: hidden;
  padding-top: map_get($SiteHeader,siteHeaderHeight);
  &,a{
    color: #fff;
  }
  .contents{
    margin-left: map_get($SiteMenu,width);
    height: 100%;
  }
}
.site-tab{
  width: 100%;
  height: 100%;
}