<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.labouCapital.dao.DatabaseBakMapper">
	
	<select id="querydatabaseBakInfoPage" parameterType="map" resultType="com.zsh.labouCapital.entity.DatabaseBak">
		SELECT 
		  * 
		FROM
		  (SELECT 
		    * 
		  FROM
		    (SELECT 
				  tu.login_name,
				  tu.user_name,
				  db.path,
				  db.date,
				  ROW_NUMBER () OVER (
				ORDER BY db.id DESC) AS ROW 
				FROM
				  t_database_bak db,
				  t_user tu 
				where db.user_id = tu.user_id 
		      <if test="beginDate!=null">
					and db.date <![CDATA[>=]]>#{beginDate}
			  </if>
			  <if test="endDate!=null">
					and db.date <![CDATA[<=]]>#{endDate}
			  </if>
		      ) cm where row <![CDATA[<=]]> #{limit}
			) dm where row <![CDATA[>=]]> #{start}
		ORDER BY date desc  
	</select>
	
	<select id="querydatabaseBakInfoCount" parameterType="map" resultType="long">
		SELECT 
		  COUNT(1) 
		FROM
		      t_database_bak db,
			  t_user tu 
				where db.user_id = tu.user_id
		      <if test="beginDate!=null">
					and db.date <![CDATA[>=]]>#{beginDate}
			  </if>
			  <if test="endDate!=null">
					and db.date <![CDATA[<=]]>#{endDate}
			  </if>
	</select>
	
	<!-- 备份数据库 -->
    <select id="bakDatabase" parameterType="int">
        exec p_database_bak #{userId}
    </select>
</mapper>