<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.labouCapital.dao.ExamSummaryMapper">
	<!-- 查询参数 -->
	<sql id="queryParams">
		<where>
			<trim prefixOverrides="and|or">
				<if test="yearMonthDate != null and yearMonthDate !=''">
					and tes.year_month_date =#{yearMonthDate}
				</if>
				<if test="xbmName !=null and xbmName!=''">
					and tes.bn_name like (#{xbmName}+'%')--> <!-- sqlserver -->
					<!-- and tes.bn_name like concat(#{xbmName},'%')--> <!-- mysql -->
				</if>
				<!-- <if test="wtgsName !=null and wtgsName !=''">
				and tes.wtgsName like (#{wtgsName}+'%')
					and tes.wtgs_name like concat(#{wtgsName},'%')
				</if> -->
				<if test="jyzName !=null and jyzName !=''">
					and tes.jyz_name like (#{jyzName}+'%')
					<!-- and tes.jyz_name like concat(#{jyzName},'%')-->
				</if>
				<if test="status !=null and status >= 0 ">
					<!-- and tes.company_path like (#{jyzName}+'%') -->
					and tes.status = #{status}
				</if>
				<if test="attributesPath != null and attributesPath != ''">
					and tcp.company_path like '%,1,%'
				</if>
			</trim>
		</where>
	</sql>
	
	<!-- 插入导入记录 -->
 <insert id="addExamSummary" parameterType="com.zsh.labouCapital.entity.ExamSummary" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
 	insert into t_exam_summary(
 			company_id,
 			year_month_date,
				fbk_name,
				dw_name, 
				bn_name, 
				jyz_name,
				bw_code, 
				jyz_type,
				gasoline92,
				gasoline95, 
				gasoline98,
				diesel0, 
				diesel10,
				trq,
				sjlxj,
				dyxcbz,
				xc,
				dyfjbz,
				fj,
				dyrgfbz, 
				rgfy, 
				sjfj, 
				dwsb, 
				jrfl, 
				rclb, 
				ycbz, 
				rsdljgglf,
				qyxc, 
				xcfczkcze, 
				czkcze,
				czkxse,
				wtcze,
				zzfkzdcz,
				jykkhcze,
				jsjykxc, 
				fdzxy, 
				ybspxse, 
				rybhjnjxse, 
				zyppsxse,
				wqclyxse,
				lmjxse,
				zyppblsxse, 
				olzxse,
				gqxlxse, 
				ydczk,
				cpxse,
				yylmxse, 
				qcyhxse, 
				tgxse,
				fypjcxc,
				fypmbwcjcje,
				qyzsxc,
				jykdzxc, 
				lsldyrw, 
				lsldywcl,
				lslydrwwcl, 
				lslydrwwclzb,
				trqdyrw, 
				trqdywcl,
				trqydrwwcl, 
				trqydrwwclzb,
				lsydmledyrw,
				lsydmledywcl,
				lsydmleydrwwcl,
				lsydmleydrwwclzb, 
				fypxsedyrw, 
				fypxsedywcl,
				fypxseydrwwcl, 
				fypxseydrwwclzb,
				sykhbfypxsedyrw,
				sykhbfypxsedywcl, 
				sykhbfypxseydrwwcl,
				sykhbfypxseydrwwclzb,
				fypydmledyrw,
				fypydmledywcl, 
				fypydmleydrwwcl,
				fypydmleydrwwclzb,
				zpldyrw, 
				zpldywcl,
				zplydrwwcl, 
				zplydrwwclzb,
				zpydmledyrw,
				zpydmledywcl,
				zpydmleydrwwcl,
				zpydmleydrwwclzb, 
				ydlrdyrw,
				ydlrdywcl,
				ydlrydrwwcl,
				ydlrydrwwclzb, 
				snyjckl, 
				zcklbhjwkfy,
				qzkqckds,
				cklkzxsxx,
				cklkzxssx,
				gldf, 
				glzbzb,
				xgsjybbzglgxxs,
				zhdfl,
				llggxs,
				jbxc, 
				llxc, 
				zykzjjddrygz,
				jbf,
				qjryxc,
				gdbc, 
				blc,
				qtbt, 
				lstykzgz,
				zxjf, 
				glkf, 
				lxxc, 
				hj,
				bz,
				fbk_type,
				status,
				qycmbxc
		)
		values( #{companyId},
				#{yearMonthDate},
				#{fbkName},
				#{dwName},
				#{bnName},
				#{jyzName},
				#{bwCode},
				#{jyzType},
				#{gasoline92},
				#{gasoline95},
				#{gasoline98},
				#{diesel0},
				#{diesel10},
				#{trq},
				#{sjlxj},
				#{dyxcbz},
				#{xc},
				#{dyfjbz},
				#{fj},
				#{dyrgfbz},
				#{rgfy},
				#{sjfj},
				#{dwsb},
				#{jrfl},
				#{rclb},
				#{ycbz},
				#{rsdljgglf},
				#{qyxc},
				#{xcfczkcze},
				#{czkcze},
				#{czkxse},
				#{wtcze},
				#{zzfkzdcz},
				#{jykkhcze},
				#{jsjykxc},
				#{fdzxy},
				#{ybspxse},
				#{rybhjnjxse},
				#{zyppsxse},
				#{wqclyxse},
				#{lmjxse},
				#{zyppblsxse},
				#{olzxse},
				#{gqxlxse},
				#{ydczk},
				#{cpxse},
				#{yylmxse},
				#{qcyhxse},
				#{tgxse},
				#{fypjcxc},
				#{fypmbwcjcje},
				#{qyzsxc},
				#{jykdzxc},
				#{lsldyrw},
				#{lsldywcl},
				#{lslydrwwcl},
				#{lslydrwwclzb},
				#{trqdyrw},
				#{trqdywcl},
				#{trqydrwwcl},
				#{trqydrwwclzb},
				#{lsydmledyrw},
				#{lsydmledywcl},
				#{lsydmleydrwwcl},
				#{lsydmleydrwwclzb},
				#{fypxsedyrw},
				#{fypxsedywcl},
				#{fypxseydrwwcl},
				#{fypxseydrwwclzb},
				#{sykhbfypxsedyrw},
				#{sykhbfypxsedywcl},
				#{sykhbfypxseydrwwcl},
				#{sykhbfypxseydrwwclzb},
				#{fypydmledyrw},
				#{fypydmledywcl},
				#{fypydmleydrwwcl},
				#{fypydmleydrwwclzb},
				#{zpldyrw},
				#{zpldywcl},
				#{zplydrwwcl},
				#{zplydrwwclzb},
				#{zpydmledyrw},
				#{zpydmledywcl},
				#{zpydmleydrwwcl},
				#{zpydmleydrwwclzb},
				#{ydlrdyrw},
				#{ydlrdywcl},
				#{ydlrydrwwcl},
				#{ydlrydrwwclzb},
				#{snyjckl},
				#{zcklbhjwkfy},
				#{qzkqckds},
				#{cklkzxsxx},
				#{cklkzxssx},
				#{gldf},
				#{glzbzb},
				#{xgsjybbzglgxxs},
				#{zhdfl},
				#{llggxs},
				#{jbxc},
				#{llxc},
				#{zykzjjddrygz},
				#{jbf},
				#{qjryxc},
				#{gdbc},
				#{blc},
				#{qtbt},
				#{lstykzgz},
				#{zxjf},
				#{glkf},
				#{lxxc},
				#{hj},
				#{bz},
				#{fbkType},
				#{status},
				#{qycmbxc}
			)
 </insert>
	
	<select id="countExamSummaryByDate" parameterType="string" resultType="int">
		select count(*) from t_exam_summary tes
		where tes.year_month_date = #{summaryYearMonth}
	</select>
	
	<!--分页查询考核导入结果 -->
	<select id="queryExamSummarysPage" parameterType="com.zsh.labouCapital.entity.ExamSummaryVo" resultType="com.zsh.labouCapital.entity.ExamSummary">
		select * from t_exam_summary tes
		inner join t_company tc on tes.company_id = tc.company_id
		inner join t_company_path tcp on tc.company_id = tcp.company_id
		<include refid="queryParams"/>
		order by tes.id asc
	</select>
	
	<!--分页查询考核导入结果 -->
	<select id="getExamSummarysCount" parameterType="com.zsh.labouCapital.entity.ExamSummaryVo" resultType="int">
		select count(*) from t_exam_summary tes
		inner join t_company tc on tes.company_id = tc.company_id
		inner join t_company_path tcp on tc.company_id = tcp.company_id
		<include refid="queryParams"/>
	</select>
	
	<select id="queryAllExamSummaryByDateAndName" resultType="com.zsh.labouCapital.entity.ExamSummary" parameterType="map">
		select * 
		from t_exam_summary tes
		where tes.year_month_date = #{yearMonthDate}
		and tes.bm_name = #{xbmName}
		order by tes.id asc
	</select>
	
 
 <!-- 生成加油站通知单 -->
 <insert id="genderStationExamNotice" parameterType="com.zsh.labouCapital.entity.StationExamNoticeResult" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
 	insert into t_station_exam_notice_result() 
 	values()
 	
 </insert>
 
 <!-- 生成部门通知单 -->
 <insert id="genderDepartExamNotice" parameterType="com.zsh.labouCapital.entity.DepartmentExamNoticeResult" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
 	INSERT INTO t_department_exam_notice_result( 	
			company_id,
			notice_no,
			year_month_date,
			exam_summay_id,
			bmmc,
			llggxs,
			xcxfy,
			jbxc,
			llxc,
			qjryxc,
			gdbc,
			qtgz,
			zxjf,
			qtbt,
			glkf,
			lxxc,
			qjrygz,
			blc,
			status,
			salary_status,
			total,
			jbf
		) 
		VALUES(
			#{companyId},
			#{noticeNo},
			#{yearMonthDate},
			#{examSummayId},
			#{bmmc},
			#{llggxs},
			#{xcxfy},
			#{jbxc},
			#{llxc},
			#{qjryxc},
			#{gdbc},
			#{qtgz},
			#{zxjf},
			#{qtbt},
			#{glkf},
			#{lxxc},
			#{qjrygz},
			#{blc},
			#{status},
			#{salaryStatus},
			#{total},
			#{jbf} 
		)
 </insert>
 
 <update id="updateExamSummayStatus" parameterType="map">
 	UPDATE t_exam_summary 
 	SET status = #{status}
 	where id = #{id}
 </update>
 
 <!-- 生成加油站的通知单  -->
 <insert id="genderStationNotice" parameterType="com.zsh.labouCapital.entity.StationExamNoticeResult" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into t_station_exam_notice_result(
				summary_id,
				company_id,
				notice_no,
				year_month_date,
				wtgs,
				jyz,
				gasoline92,
				gasoline95,
				gasoline98,
				CNG,
				cyxl0,
				cyxl10,
				rgfy,
				qycmbxc,
				dyrgfbz,
				sjlxj,
				qyzsxc,
				jsjykxc,
				jykdzxc,
				xcfczkcze,
				czkcze,
				czkxse,
				zzfkzdcz,
				jykkhcze,
				fypjcxc,
				fypmbwcqkjc,
				fdzxy,
				ybsp,
				ydczk,
				yylm,
				qcyp,
				tg,
				rybhjnjxse,
				zyppblsxse,
				olz,
				gqxlxse,
				zykzjjddrygz,
				jbf,
				lstykzgz,
				qjryxc,
				blc,
				gdbc,
				zxjf,
				glkf,
				sjfj,
				dyxcbz,
				zyppsxse,
				total,
				jyz_type,
				status,
				salary_status,
				qyllxc)
		values(
				#{summaryId},
				#{companyId},
				#{noticeNo},
				#{yearMonthDate},
				#{wtgs},
				#{jyz},
				#{gasoline92},
				#{gasoline95},
				#{gasoline98},
				#{cng},
				#{cyxl0},
				#{cyxl10},
				#{rgfy},
				#{qycmbxc},
				#{dyrgfbz},
				#{sjlxj},
				#{qyzsxc},
				#{jsjykxc},
				#{jykdzxc},
				#{xcfczkcze},
				#{czkcze},
				#{czkxse},
				#{zzfkzdcz},
				#{jykkhcze},
				#{fypjcxc},
				#{fypmbwcqkjc},
				#{fdzxy},
				#{ybsp},
				#{ydczk},
				#{yylm},
				#{qcyp},
				#{tg},
				#{rybhjnjxse},
				#{zyppblsxse},
				#{olz},
				#{gqxlxse},
				#{zykzjjddrygz},
				#{jbf},
				#{lstykzgz},
				#{qjryxc},
				#{blc},
				#{gdbc},
				#{zxjf},
				#{glkf},
				#{sjfj},
				#{dyxcbz},
				#{zyppsxse},
				#{total},
				#{jyzType},
				#{status},
				#{salaryStatus},
				#{qyllxc}
			)
 </insert>
 
 <select id="checkIsJyzNoticeExist" parameterType="com.zsh.labouCapital.entity.ExamSummary" resultType="com.zsh.labouCapital.entity.StationExamNoticeResult">
 	select * from t_station_exam_notice_result tenr where tenr.summary_id = #{id}
 </select>
 
 <select id="checkIsBmNoticeExist" parameterType="com.zsh.labouCapital.entity.ExamSummary" resultType="com.zsh.labouCapital.entity.DepartmentExamNoticeResult">
 	select * from t_department_exam_notice_result tenr where tenr.exam_summay_id = #{id}
 </select>
 
 <!-- 导出考核汇总结果  -->
 <select id="exportExamSummary" parameterType="map" resultType="com.zsh.labouCapital.entity.ExamSummary">
 	select * 
 	from t_exam_summary tes
		inner join t_company tc on tes.company_id = tc.company_id
		inner join t_company_path tcp on tc.company_id = tcp.company_id
		<include refid="queryParams"/>
		order by tes.id asc
 </select>
 
</mapper>