<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.labouCapital.dao.ExpectFundMapper">
	
	<select id="queryExceptFundInfo" parameterType="String" resultType="com.zsh.labouCapital.entity.ExpectFund">
		SELECT * 
		FROM t_expect_fund tfs 
		WHERE tfs.fund_code = #{fundCode}
	</select>

	<insert id="insertExceptFund" parameterType="com.zsh.labouCapital.entity.ExpectFund">
		INSERT INTO t_except_fund(fund_code,index_code,fund_name,avg_pe1,avg_pe2,type)
		VALUES(#{fundCode},#{indexCode},#{fundName},#{avgPe1},#{avgPe2},#{type})
	</insert>	
</mapper>