<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.labouCapital.dao.HoldPositionMapper">
	
	<sql id="commQueryParams">
		<where>
			<trim prefixOverrides="and|or">
				1=1
				<if test="id !=null and id > 0">
					t.id = #{id}
				</if>
				<if test="fundCode !=null and fundCode != ''">
					t tnwh.fund_code = #{fundCode}
				</if>
			</trim>
		</where>
	</sql>
	
	<select id="queryHoldPositionList" parameterType="com.zsh.labouCapital.entity.HoldPosition" resultType="com.zsh.labouCapital.entity.HoldPosition">
		SELECT * 
		FROM t_hold_position t
		<include refid="commQueryParams"></include>
		ORDER BY t.buy_date desc
	</select>
	
	<insert id="insertHoldPositionInfo" parameterType="com.zsh.labouCapital.entity.HoldPosition">
		INSERT INTO t_hold_position(fund_code,net_worth,buy_money,buy_num,buy_date,last_avg_cost,real_net_worth,grow_rate,TYPE,now_avg_cost,now_avg_cost)
		VALUES(#{fundCode},#{netWorth},#{buyMoney},#{buyNum},#{buyDate},#{lastAvgCost},#{realNetWorth},#{growRate},#{type},#{nowAvgCost})
	</insert>
	
	<select id="getTheLastHoldPosition" parameterType="String" resultType="com.zsh.labouCapital.entity.HoldPosition">
		SELECT thp.*
		FROM t_hold_position thp
		WHERE thp.fund_code = #{fundCode}
		ORDER BY thp.buy_date DESC
		LIMIT 0,1
	</select>
</mapper>