<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.labouCapital.dao.IndexMarketSituationMapper">
	
	<sql id="commQueryParams">
		<where>
			<trim prefixOverrides="and|or">
				1=1
				<if test="id !=null and id > 0">
					tnwh.id = #{id}
				</if>
				<if test="fundCode !=null and fundCode != ''">
					AND tnwh.fund_code = #{fundCode}
				</if>
				<if test="dateInfo !=null and dateInfo != ''">
					AND tnwh.date_info = #{dateInfo}
				</if>
			</trim>
		</where>
	</sql>
	
	<sql id="indexQueryParams">
		<where>
			<trim prefixOverrides="and|or">
				1=1
				<if test="id !=null and id > 0">
					tin.index_id = #{indexId}
				</if>
				<if test="fundCode !=null and fundCode != ''">
					AND tin.index_code = #{indexCode}
				</if>
				<if test="dateInfo !=null and dateInfo != ''">
					AND tin.date_info = #{dateInfo}
				</if>
			</trim>
		</where>
	</sql>
	
	<insert id="addMarketSituation" parameterType="com.zsh.labouCapital.entity.NetWorthHistory">
		INSERT INTO t_net_worth_history(fund_code,date_info,net_worth,equity_return,unit_money,week_info,date_create,networth_daygrow_rate)
		VALUES(#{fundCode},#{dateInfo},#{netWorth},#{equityReturn},#{unitMoney},#{weekInfo},#{dateCreate},#{networthDaygrowRate})
	</insert>
	
	<select id="queryMarketSituationInfo" parameterType="com.zsh.labouCapital.entity.NetWorthHistory"
		resultType="com.zsh.labouCapital.entity.NetWorthHistory">
		SELECT
		tnwh.*
		FROM
		t_net_worth_history tnwh
		<include refid="commQueryParams"/>
		AND tnwh.networth_daygrow_rate =0	
		ORDER BY tnwh.date_info DESC
	</select>
	
	<update id="updateMarketSituation" parameterType="com.zsh.labouCapital.entity.NetWorthHistory">
		UPDATE t_net_worth_history
		<if test="networthDaygrowRate != null">
			SET networth_daygrow_rate = #{networthDaygrowRate}	
		</if>
		where id = #{id}
		and fund_code = #{fundCode}
	</update>
	
	<select id="queryAllIndexNewInfo" parameterType="com.zsh.labouCapital.entity.IndexNew" resultType="com.zsh.labouCapital.entity.IndexNew">
		SELECT tin.* 
		FROM t_index_new tin
		<include refid="indexQueryParams"></include>
		and tin.is_check =0
	</select>
	
	<update id="updateIndexNewInfo" parameterType="com.zsh.labouCapital.entity.IndexNew">
		UPDATE t_index_new 
		SET trace_funds = #{traceFunds}
		<if test="isCheck != null">
			,is_check = #{isCheck}
		</if> 
		WHERE index_id = #{indexId}
	</update>
	
	<insert id="insertIndexFundTemp" parameterType="com.zsh.labouCapital.entity.TIndexFundTemp">
		INSERT INTO t_index_fund_temp(index_code,fund_code) 
		values(#{indexCode},#{fundCode})
		ON DUPLICATE KEY UPDATE update_date = now()		
	</insert>
	
	<select id="queryAllIndexFundTemp" parameterType="com.zsh.labouCapital.entity.TIndexFundTemp" resultType="com.zsh.labouCapital.entity.TIndexFundTemp">
		SELECT * FROM 
		t_index_fund_temp tt
		where 1=1
		<if test="indexCode != null">
			and index_code = #{indexCode}
		</if>
	</select>
	
	<select id="queryUnderValueMarkStationIndex" parameterType="com.zsh.labouCapital.dto.MarketSituationDTO" resultType="com.zsh.labouCapital.dto.MarketSituationDTO">
		SELECT 
		  t.index_code,
		  AVG(t.pe1_ratio) as avgPe1,
		  AVG(t.pe2_ratio) as avgPe2,
		  t.index_sname
		FROM
		  t_market_situation t 
		GROUP BY t.index_code
		HAVING AVG(t.pe1_ratio) <![CDATA[ <= ]]> 10
		ORDER BY t.pe1_ratio ASC 
		LIMIT 0, 10000 
	</select>
</mapper>