<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.labouCapital.dao.RoleMapper">

<!-- ******************  分页查询角色信息 ********************** -->
	<select id="queryRolePage" parameterType="map" resultType="com.zsh.labouCapital.entity.Role">
		SELECT tr.*
		FROM t_user tu, t_role tr
			INNER JOIN (
				SELECT row_number() OVER (ORDER BY role_id ASC) AS rowNo, role_id
				FROM t_role
			) tootmp
			ON tr.role_id = tootmp.role_id
		<where>
			tu.user_id = tr.createuserid
		  	and tr.createuserid = #{userid}
		  	and tr.issystem=0
			<if test="roleName != null">
				and tr.role_name like '%'+#{roleName}+'%' 
			</if>
		</where>
		and tootmp.rowNo <![CDATA[>=]]> #{start}
		and tootmp.rowNo <![CDATA[<=]]> #{limit}
		order by tr.role_id
	</select>
	<!-- ******************  查询角色信息数量 ********************** -->
	<select id="queryRolePageCount" parameterType="map" resultType="long">
		SELECT 	count(tr.role_id)
		FROM 	t_user tu,
				t_role tr
		<where>
			tu.user_id = tr.createuserid
			and tr.issystem=0
		  	and tr.createuserid = #{userid}
			<if test="roleName != null">
				and tr.role_name = #{roleName}
			</if>
		</where>
	</select>
	
	<!-- ******************  根据名字查找角色 ********************** -->
	<select id="queryRolesByName" parameterType="String" resultType="long">
		select count(*)
		from t_role tr 
		where tr.role_name = #{roleName}
	</select>
	
	<!-- ******************  添加角色信息 ********************** -->
	<insert id="add" parameterType="com.zsh.labouCapital.entity.Role" useGeneratedKeys="true" keyProperty="roleid">
		insert into t_role(role_name,updateuserid,remark,createuserid)
		values(#{roleName},#{updateuserid},#{remark},#{createuserid});
	</insert>
		
	<!-- ******************  更新角色信息 ********************** -->
	<update id="updateRole" parameterType="com.zsh.labouCapital.entity.Role">
		update t_role
		<set>
			<if test="roleName != null">
				role_name = #{roleName},
			</if>
			<if test="isdeleted != null">
				isdeleted = #{isdeleted},
			</if>
			<if test="updateuserid != null">
				updateuserid = #{updateuserid},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
		</set>
		where role_id = #{roleId}
	</update>
	
	<!-- ******************  查找同名的角色的数量 ********************** -->
	<select id="queryExceptRoles" parameterType="com.zsh.labouCapital.entity.Role" resultType="int">
		select count(*)
		from   t_role tr
		where  tr.role_name = #{roleName}
		and    tr.role_id != #{roleId}
	</select>
	
	
	<delete id="remove" parameterType="com.zsh.labouCapital.entity.Role">
		delete from t_role
		where  role_id = #{roleId}
	</delete>
	<!-- ******************  删除角色信息 [逻辑删除]********************** -->
	<update id="remove111" parameterType="com.zsh.labouCapital.entity.Role">
		update t_role
		set isdeleted = 1
		where role_id = #{roleId}
	</update>
	
	
	<!-- ******************  根据userid查询角色信息 ********************** -->
	<select id="queryRoleByUid" parameterType="int" resultType="com.zsh.labouCapital.entity.Role">
		SELECT 	tr.role_id,
				tr.role_name,
				tr.isdeleted,
				tr.createuserid,
				tr.remark
		FROM 	t_user tu,
		     	t_role tr
		WHERE 	tr.role_id = tu.role_id
		  AND 	tu.user_id = #{userid};		
	</select>
	
	<!-- ******************  根据roleid查询是否绑定用户 ********************** -->
	<select id="roleIsBindUser" parameterType="int" resultType="int">
		select count(*)
		from t_user tu
		where tu.role_id = #{roleId} AND tu.status = 0
	</select>
	<!-- ******************  根据userid查询角色可以修改的角色信息 ********************** -->
	<select id="queryChangeRolesByUid" parameterType="int" resultType="com.zsh.labouCapital.entity.Role">
		SELECT 	tr.*
		FROM 	t_user tu,
				t_role tr
		WHERE 	tu.user_id = tr.createuserid
		  AND 	tr.createuserid = #{userid}
	</select>
	
</mapper>