<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsh.labouCapital.dao.UserDao">
	<resultMap type="com.zsh.labouCapital.entity.User" id="userFieldMap">
		<id property="user_id" column="userId" />
		<result property="user_name" column="userName" />
		<result property="login_name" column="loginName" />
		<result property="login_password" column="loginPassword" />
		<result property="status" column="status" />
		<result property="company_id" column="companyId" />
		<result property="role_id" column="roleId" />
		<result property="company_type" column="companyType" />
		<result property="passwordOutDay" column="passwordOutDay" />
		<!-- <result property="stamp" column="stamp" javaType="java.lang.String"/> -->
	</resultMap>
	
	<!-- 根据登录名获取用户信息 -->
	<select id="getUserByLoginName" parameterType="String" resultMap="userFieldMap">
		SELECT tu.user_id,
				tu.login_name,
				tu.login_password,
				tu.status,
				tu.company_id,
				tu.role_id,
				tc.company_type,
				0 as passwordOutDay		 	 
		FROM t_user tu,t_company tc
		WHERE tu.login_name=#{login_name}
		and tu.status !=2 and tu.company_id=tc.company_id
	</select>

	<select id="queryUserByAgencyId" parameterType="integer" resultType="com.zsh.labouCapital.entity.User">
		SELECT *
		FROM t_wg_user
		WHERE agency_id=#{agencyId}
		and (status=0 OR status=1)
	</select>

	<!-- 根据用户ID，查找用户信息 -->
	<select id="findById" parameterType="String" resultMap="userFieldMap">
		SELECT *
		FROM t_wg_user
		WHERE user_id=#{id}
	</select>

	<!--(分页) 根据用户机构路径和用户登录名模糊查询 用户信息 -->
	<select id="findUserPage" parameterType="com.zsh.labouCapital.vo.UserManageView" resultType="com.zsh.labouCapital.entity.User">
		SELECT 
		  tu.user_id AS user_id,
		  tu.login_name AS loginName,
		  tu.login_password AS loginPassword,
		  tu.user_name AS userName,
		  tu.status,
		  tu.company_id AS companyId,
		  tr.role_id,
		  tr.role_name AS roleName,
		  tcp.company_name AS companyName
		FROM t_user tu 
		INNER JOIN t_company_path tcp ON tu.company_id = tcp.company_id 
		INNER JOIN t_role tr ON tu.role_id = tr.role_id 
		WHERE tcp.company_path LIKE ('%'+#{companyPath}+'%')
		<if test="userId!=null and userId!=''">
			AND tu.user_id != #{userId}
		</if>
		<if test="loginName!=null and loginName!=''">
			AND tu.login_name LIKE ('%'+#{loginName}+'%')
		</if>
		<if test="status!=null and status!=''">
			AND tu.status=#{status}
		</if>
	</select>

	<!--(分页查询，计算数据条数) 根据用户机构路径和用户登录名模糊查询 用户信息 -->
	<select id="findUserCount" parameterType="com.zsh.labouCapital.vo.UserManageView"
		resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM t_user tu
		INNER JOIN t_company_path tcp ON tu.company_id = tcp.company_id
		INNER JOIN t_role tr 
		    ON tu.role_id = tr.role_id
		WHERE tcp.company_path LIKE (CONVERT(VARCHAR(100),#{companyPath})+'%')
		AND tu.user_id != #{userId}
		<if test="loginName!=null and loginName!=''">
			AND tu.login_name LIKE ('%'+#{loginName}+'%')
		</if>
		<if test="status!=null and status!=''">
			AND tu.status=#{status}
		</if>
	</select>

	<!-- 添加用户 -->
	<insert id="add" parameterType="com.zsh.labouCapital.entity.User"
		useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id"
		flushCache="true">
		<if test="roleId != null">
			INSERT
			INTO t_user
			(user_name,login_name,login_password,status,company_id,role_id,update_password_time)
			VALUES
			(#{userName},#{loginName},#{loginPassword},#{status},#{companyId},#{roleId},convert(char(10),getdate(),120))
		</if>
		<if test="roleId == null">
			INSERT
			INTO t_user
			(user_name,login_name,login_password,status,company_id)
			VALUES
			(#{userName},#{loginName},#{loginPassword},#{status},#{companyId})
		</if>
	</insert>

	<!-- 修改用户信息，删除用户 -->
	<update id="edit" parameterType="com.zsh.labouCapital.entity.User"
		flushCache="true">
		update t_user
		<set>
			<if test="userName!=null">
				user_name = #{userName},
			</if>
			<if test="loginName!=null and loginName!=''">
				login_name = #{loginName},
			</if>
			<if test="loginPassword!=null and loginPassword!=''">
				login_password = #{loginPassword},update_password_time=#{updatePasswordTime},
			</if>
			<if test="status!=null">
				status = #{status},
			</if>
			<if test="companyId!=null">
				company_id = #{companyId},
			</if>
			<if test="roleId!=null">
				role_id = #{roleId},
			</if>
		</set>
		<where>
			<choose>
				<when test="userId!=null">
					user_id=#{userId}
				</when>
				<when test="userId==null and loginName!=null">
					login_name = #{loginName}
				</when>
			</choose>
		</where>
	</update>
	<!-- 用户信息报表导出 -->
	<select id="exportUserManage" parameterType="map"
		resultType="com.zsh.labouCapital.entity.User">
		SELECT 
		  tu.login_name AS loginName,
		  tu.user_name AS userName,
		  CASE
		    tu.status 
		    WHEN 0 
		    THEN '正常' 
		    WHEN 1 
		    THEN '暂停' 
		    WHEN 2 
		    THEN '删除' 
		  END statusStr,
		  tr.role_name AS roleName,
		  tcp.company_name AS companyName 
		FROM
		  t_user tu 
		  INNER JOIN t_company_path tcp 
		    ON tu.company_id = tcp.company_id 
		  INNER JOIN t_role tr 
		    ON tu.role_id = tr.role_id  
		WHERE tcp.company_path LIKE #{attributesPath}+'%'

		<if test="loginName!=null and loginName!=''">
			AND tu.login_name LIKE '%'+#{loginName}+'%'
		</if>
		<if test="status!=null and status!=''">
			AND tu.status=#{status}
		</if>
	</select>
	
	 <select id="getCompanyById" parameterType="Integer" resultType="com.zsh.labouCapital.entity.Company">
		SELECT company_id,company_name
		FROM t_company 
		WHERE company_id = #{companyId}
	</select> 
	
	<select id="getPasswordNoticeDay" parameterType="String" resultType="int">
		SELECT datediff(day, t.update_password_time, GETDATE())
			FROM t_user t
		WHERE t.user_id = #{userId};
	</select> 
</mapper>